/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comic+Neue:wght@300;400&family=Didact+Gothic&family=Poppins:wght@300&display=swap');*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comic+Neue:wght@300;400&family=Didact+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FOR WHEN GOOGLE FONT API NOT WORKING!
@font-face {
  font-family: 'Amatic SC';
  src: url("assets/fonts/Amatic_SC,Comic_Neue,Didact_Gothic,Poppins/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: 'Amatic SC-Bold';
  src: url("assets/fonts/Amatic_SC,Comic_Neue,Didact_Gothic,Poppins/Amatic_SC/AmaticSC-Bold.ttf");
} */




$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: rgba(254,246,232,1);
$border-radius: 4px;
$font-family: 'Amatic SC';
$font-family-og: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;


body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;
  background-color: #e8d5b7;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 { font-family: 'Amatic SC', bold;
  font-weight: 900;
  font-size: 72px;
  text-align: center;  
}  

h2 { font-family: 'Amatic SC', bold;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
}

h3 { font-family: 'Amatic SC', bold;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h4 { font-family: 'Amatic SC', bold;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

h5 { font-family: 'Amatic SC', bold;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

h6 { font-family: 'Amatic SC', bold;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

strong {
  font-weight: 900;
}


.text-left {
  text-align: left;
}

.underline-color-h {
  text-decoration: underline #FFB43C;

}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: underline #FFB43C ;
  /*border-bottom: 1px solid $color-border;*/
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #154604;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

#notes-entry-container-home {
  display: grid;
  grid-gap: 3em;
  grid-template-areas:
    "side"
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "side content side";
  }
}


#graph-wrapper-home {
    background: #fcfcfc;
    border-radius: 4px;
    height: 75vh;
  }

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}



/* NT Add-ons */
.line {
  padding-bottom: 10px;
  border-bottom: 15px solid #FFB43C;
  width: 150px;
  margin: auto;
}

.line-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid #FFB43C;
  margin: auto;
}

.underline-color {
  color: #FFB43C;
  font-weight: 500px;
}

.home-page-logo {
  height: 211px;
  width: 211px;
}

.home-page-grid-containers {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  align-content: center;
}

.home-page-grid-containers-head {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  align-content: center;
}

.home-page-grid-containers-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  align-content: center;
}

/*.col-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  align-content: center;
}
*/

.img-blend {
  max-height:15vh;
}

.padding-bb {
  padding-bottom: 5px;
  padding-top: 0px;
  margin: 0;
}

.projects-description-h {
  font-family: $font-family;
  font-size: medium;
  text-align: left;
  font-weight: 900;
  margin: 0%;
}

.projects-description {
  font-size: 12px;
}


.norm-screen-project-view {
  @media (max-width: 748px) {
    display: none;
  }

  display: block;
}


.small-screen-project-view {
  @media (max-width: 748px) {
    display: block;
  }
  display: none;

  img {
    width: 50%;
    height: 50%
  }
}


.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffb43c;
  --bs-btn-border-color: #ffb43c;
}


/* Excalidraw */
.container {
    font-family: sans-serif;
    text-align: center;
  }
  
  .button-wrapper button {
    z-index: 1;
    height: 40px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    color: #000000;
    background-color: #edf2ff;
    border-color: #edf2ff;
  }
  
  .excalidraw .App-menu_top .buttonList {
    display: flex;
  }
  
  .excalidraw-wrapper {
    height: 800px;
    margin: 50px;
    margin-top: 10px;
    position: relative;
    .dropdown-menu{
      display: block;
    }
    .excalidraw {
      --color-primary: #d2fcc6;
      --color-primary-darker: #499238;
      --color-primary-darkest: #254f14;
      --color-primary-light: #c8edcb;
    }
    .excalidraw.theme--dark {
      --color-primary: #d2fcc6;
      --color-primary-darker: #499238;
      --color-primary-darkest: #254f14;
      --color-primary-light: #c8edcb;
    }
  }
  
  :root[dir="ltr"]
    .excalidraw
    .layer-ui__wrapper
    .zen-mode-transition.App-menu_bottom--transition-left {
    transform: none;
  }
  
 

  .popup-bg-color {
    background-color: rgba(254,246,232,1);
  }

.button-wrapper {
  label {
    margin-right: 5px;
  }
  input {
    margin: 5px;
  }
}

